*{
    box-sizing: border-box;
}

.card {
    margin: 10px 10px 10px 10px;
    background-color: lightblue;
}

.card-body {
    background-color: rgb(124, 210, 124);
}

.card-header {
    color: green;
}

.five-day{
    display: flex;
}

.forecast-card{
    margin: 10px 10px 10px 10px;
    background-color: lightblue;
}

.jumbotron {
    background: rgb(45, 192, 241);
}

.list-group {
    margin: 10px 10px 10px 10px;
    background-color: lightblue;
}