*{
    box-sizing: border-box;
}

.card {
    margin: 10px 10px 10px 10px;
    background-color: lightblue;
}

/* .card-header {
    color: green;
} */

.five-day{
    display: flex;
}

.forecast-card{
    margin: 10px 10px 10px 10px;
    background-color: lightblue;
}

.list-group {
    margin: 10px 10px 10px 10px;
    background-color: lightblue;
}